@using Forum.Models

@{
    ViewBag.Title = "Thêm Mới Danh Mục";
    Layout = "~/Areas/BanQuanTri/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<DanhMuc> DanhSachDanhMuc = ViewBag.DanhMuc as IEnumerable<DanhMuc>;
}

<div class="p-body">
    <div class="p-body-inner ">
        <!--XF:EXTRA_OUTPUT-->
        <div class="breadcrumb ">
            <div class="pageContent">
                <ul class="p-breadcrumbs " itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="/BanQuanTri/Home/Index" itemprop="item">
                            <span itemprop="name">Trang Chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="" itemprop="item">
                            <span itemprop="name"> Thêm Mới Danh Mục</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                </ul>
            </div>
        </div>
        <div uix_component="MainContainer" class="uix_contentWrapper">
            <div class="p-body-main">
                <div uix_component="MainContent" class="p-body-content">
                    <!-- ABOVE MAIN CONTENT -->
                    @using (Html.BeginForm("ThemMoi", "DanhMuc"))
                    {
                        <div class="p-body-pageContent">
                            <div class="blocks">
                                <input type="hidden" name="_xfToken" value="1644569066,ed7fe79af36674dd156ba5117bb51958">
                                <div class="block-container">
                                    <div class="block-body">
                                        <dl class="formRow formRow--input">
                                            <dt>
                                                <div class="formRow-labelWrapper">
                                                    <label class="formRow-label" for="_xfUid-1-1644569066">Tên Danh Mục</label>
                                                </div>
                                            </dt>
                                            <dd>
                                                <input type="text" class="input" autofocus="autofocus" autocomplete="username" name="TenDanhMuc" placeholder="Tên danh mục...">
                                            </dd>
                                        </dl>
                                    </div>
                                    <dl class="formRow formSubmitRow">
                                        <dt></dt>
                                        <dd>
                                            <div class="formSubmitRow-main">
                                                <div class="formSubmitRow-bar"></div>
                                                <div class="formSubmitRow-controls">
                                                    <button type="submit" class="button--primary button rippleButton">
                                                        <span class="button-text">Thêm Mới</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>