
@{
    ViewBag.Title = "Trang Đăng Nhập";
    Layout = "~/Areas/BanQuanTri/Views/Shared/_Layout.cshtml";
}

<div class="p-body">
    <div class="p-body-inner ">
        <!--XF:EXTRA_OUTPUT-->
        <div class="breadcrumb ">
            <div class="pageContent">
                <ul class="p-breadcrumbs " itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="/BanQuanTri/Home/Index" itemprop="item">
                            <span itemprop="name">Trang Chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="/xf2/themes/categories/general.1/" itemprop="item">
                            <span itemprop="name">Đăng Nhập</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                </ul>
            </div>
        </div>
        <noscript>
            <div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div>
        </noscript>
        <div uix_component="MainContainer" class="uix_contentWrapper">
            <div class="p-body-main  ">
                <div uix_component="MainContent" class="p-body-content">
                    <!-- ABOVE MAIN CONTENT -->
                    @using (Ajax.BeginForm("TrangDangNhap", "DangNhap", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }))
                    {
                        <div class="p-body-pageContent">
                            <div id="ThongBao" class="ThongBao" style="none; color:red">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                            </div>
                            <div class="blocks">
                                <input type="hidden" name="_xfToken" value="1644569066,ed7fe79af36674dd156ba5117bb51958">
                                <div class="block-container">
                                    <div class="block-body">
                                        <dl class="formRow formRow--input">
                                            <dt>
                                                <div class="formRow-labelWrapper">
                                                    <label class="formRow-label" for="_xfUid-1-1644569066">Tên Đăng Nhập</label>
                                                </div>
                                            </dt>
                                            <dd>
                                                <input type="text" class="input" name="txtTaiKhoan" autofocus="autofocus" autocomplete="username" id="">
                                            </dd>
                                        </dl>
                                        <dl class="formRow formRow--input">
                                            <dt>
                                                <div class="formRow-labelWrapper">
                                                    <label class="formRow-label" for="_xfUid-2-1644569066">Mật Khẩu</label>
                                                </div>
                                            </dt>
                                            <dd>
                                                <div data-xf-init=" password-hide-show" data-show-text="Show" data-hide-text="Hide">
                                                    <div class="inputGroup inputGroup--joined">
                                                        <input type="password" name="txtMatKhau" value="" class="input js-password input--passwordHideShow" autocomplete="current-password" id="">
                                                        <div class="inputGroup-text">
                                                            <label class="iconic iconic--hideShow js-hideShowContainer">
                                                                <input type="checkbox" value="1"><i aria-hidden="true"></i><span class="iconic-label">Show</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<a class="uix_forgotPassWord__link" href="/xf2/themes/lost-password/" data-xf-click="overlay">Forgot your password?</a>*@
                                            </dd>
                                        </dl>
                                        <dl class="formRow">
                                            <dt>
                                                <div class="formRow-labelWrapper"></div>
                                            </dt>
                                            <dd>
                                                <ul class="inputChoices">
                                                    <li class="inputChoices-choice">
                                                        <label class="iconic">
                                                            <input type="checkbox" name="remember" value="1" checked="checked">
                                                            <i aria-hidden="true"></i><span class="iconic-label">Ghi nhớ tài khoản</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </dd>
                                        </dl>
                                        <input type="hidden" name="_xfRedirect" value="https://demo.themehouse.com/xf2/themes/">
                                    </div>
                                    <dl class="formRow formSubmitRow">
                                        <dt></dt>
                                        <dd>
                                            <div class="formSubmitRow-main">
                                                <div class="formSubmitRow-bar"></div>
                                                <div class="formSubmitRow-controls"><button type="submit" class="button--primary button button--icon button--icon--login rippleButton"><span class="button-text">Đăng Nhập</span></button></div>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>